<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<config>
		<add key="repositoryPath" value="packages" />
		<add key="http_proxy" value="http://proxy1.bj.petrochina:8080" />
	</config>
	<packageSources>
		<add key="NuGet" value="https://nuget.cdn.azure.cn/v3/index.json" />
	</packageSources>
</configuration>